<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <!-- jquery -->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <input type="hidden" id="userId" th:value="${userId}" /><span th:text="${userId}"></span>
    <h1>Welcome</h1><span th:text="${userName}"></span><br>
    <!--<p>Remark: </p><br>
    old:<span th:text="${remark}"></span>
    <br>
    old1:<span th:utext="${remark}"></span>
    <br>
    new:<input type="text" id="remark" name="remark" th:value="${remark}" /><button onclick="save()">保存</button><br>
    <a href="/logout">Logout</a>
<script type="text/javascript">
    function save() {
        var userId = $("#userId").val();
        var remark = $("#remark").val();
        $.post("/user/save", {userId: userId, remark: remark}, function(result){
            if (result.status == "000000") {
                return;
            }
            showAlert(result.message);
        }, "json");
    }
</script>-->
</body>
</html>